.header {

    @extend %centered;
    background-color: $primary;
    color: $white;

    .nav-link {
        transition: .2s;
        &:hover {
            background-color: mix($primary, black, 90%);
        }
    }
}